.parent1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div5 {
  grid-area: 1 / 1 / 2 / 2;
  box-shadow: -2.64px 0px 6.61px 0px rgba(133, 133, 133, 0.2),
    -11.89px 0px 11.89px 0px rgba(133, 133, 133, 0.17),
    -25.1px 0px 15.85px 0px rgba(133, 133, 133, 0.1),
    -44.92px 0px 18.5px 0px rgba(133, 133, 133, 0.03),
    -70.02px 0px 19.82px 0px rgba(133, 133, 133, 0);
}
.div6 {
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: -2.64px 0px 6.61px 0px rgba(133, 133, 133, 0.2),
    -11.89px 0px 11.89px 0px rgba(133, 133, 133, 0.17),
    -25.1px 0px 15.85px 0px rgba(133, 133, 133, 0.1),
    -44.92px 0px 18.5px 0px rgba(133, 133, 133, 0.03),
    -70.02px 0px 19.82px 0px rgba(133, 133, 133, 0);
}
.div7 {
  grid-area: 2 / 3 / 3 / 4;
  box-shadow: -2.64px 0px 6.61px 0px rgba(133, 133, 133, 0.2),
    -11.89px 0px 11.89px 0px rgba(133, 133, 133, 0.17),
    -25.1px 0px 15.85px 0px rgba(133, 133, 133, 0.1),
    -44.92px 0px 18.5px 0px rgba(133, 133, 133, 0.03),
    -70.02px 0px 19.82px 0px rgba(133, 133, 133, 0);
}
.div8 {
  grid-area: 1 / 4 / 2 / 5;
  box-shadow: -2.64px 0px 6.61px 0px rgba(133, 133, 133, 0.2),
    -11.89px 0px 11.89px 0px rgba(133, 133, 133, 0.17),
    -25.1px 0px 15.85px 0px rgba(133, 133, 133, 0.1),
    -44.92px 0px 18.5px 0px rgba(133, 133, 133, 0.03),
    -70.02px 0px 19.82px 0px rgba(133, 133, 133, 0);
}
.gazoline-img {
  box-shadow: 2.98px 2.98px 7.44px 0px rgba(170, 171, 156, 0.15),
    10.42px 10.42px 13.4px 0px rgba(170, 171, 156, 0.13),
    22.33px 22.33px 19.35px 0px rgba(170, 171, 156, 0.08),
    40.19px 40.19px 22.33px 0px rgba(170, 171, 156, 0.02),
    62.52px 62.52px 25.31px 0px rgba(170, 171, 156, 0);
}
.diamond-wrapper {
  transform: rotate(45deg);
  overflow: hidden;
  border-radius: 1.5rem;
}
